<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solar City Interest Form</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.rawgit.com/jquery-form/form/v4.0.1/dist/jquery.form.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/js/custom.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="row">
    <div class="header col-md-4 col-md-offset-5">
        <img src="/img/logo.png" height="40%" width="40%" align="center">
    </div>
</div>